*.gif
*.jpg
*.jpeg


admin/html/bannerFarm
admin/html/c
admin/html/cgi-bin
admin/html/chaim.txt
admin/html/p
admin/html/pc

admin/html/admin/emailmd5/download
admin/html/admin/emailmd5/export
admin/html/admin/emailmd5/log
admin/html/admin/emailmd5/source
admin/html/admin/subctr/export/
admin/html/admin/templates/auto/upload_imgs/*

admin/html/editors/images/
admin/html/images/
