*.gif
*.jpg
*.jpeg

admin.popularliving.com/html/bannerFarm
admin.popularliving.com/html/c
admin.popularliving.com/html/cgi-bin
admin.popularliving.com/html/chaim.txt
admin.popularliving.com/html/p
admin.popularliving.com/html/pc

admin.popularliving.com/html/admin/emailmd5/download
admin.popularliving.com/html/admin/emailmd5/export
admin.popularliving.com/html/admin/emailmd5/log
admin.popularliving.com/html/admin/emailmd5/source
admin.popularliving.com/html/admin/subctr/export/
admin.popularliving.com/html/admin/templates/auto/upload_imgs/*

admin.popularliving.com/html/editors/images/
admin.popularliving.com/html/images/
